<div class="main-container">
    <div class="left-container">
      <h1>So let's Log In</h1>
      <div style="width: 100%;">
        <form action="index.html" class="signup-form">
          <input type="text" id="first-name" placeholder="Username">
         
          <input type="password" id="password" placeholder="Password">
         
          <button type="submit" id="submit" class="button disabled" disabled>Log In</button>
        </form>
      </div>
      <div class="signin-link-container">
        <p class="signin-link">Don't have account? Click here!</p>
      </div>
    </div>
    <div class="right-container"></div>
  </div>